.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: 0 1px 3px -2px black;
  }

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px; 
  flex: 1;
}

.nav-logo p {
  color: gray;
  font-size: 38px;
  font-weight: 600;
}

.nav-menu-container {
   
  display: flex;
  flex: 2;
  align-items: center;
  
 
   
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  width: 100%;
  justify-content: center;
  
}

.nav-menu li {
  cursor: pointer;
}

.nav-menu li a {
  text-decoration: none;
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

.nav-login-cart img {
  width: 30px;
  height: 30px;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 14px;
  margin-left: -20px;
  margin-top: -20px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px; /* Adjust the width as needed */
    height: auto; /* You can set a fixed height or use auto */
    max-height: calc(100vh - 60px); /* Restricting max height to viewport height - 60px for top spacing */
    overflow-y: auto; /* Adding scroll if content exceeds height */
  }

  .nav-menu.responsive {
      display: flex;
      align-items: center;
  }

  .nav-menu li {
      margin: 2px 0;
  }

  .menu-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 30px;
      right: 20px;
  }

  .nav-login-cart {
    margin-right: 10px;
  }
}
@media screen and (max-width: 450px) {
  .nav-logo img{
    width: 50px; 
    height: 50px;
    margin-top: 10px;
  }
  .nav-logo p {
    color: gray;
    font-size: 24px;
    font-weight: 600;
  }
}